html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  } 

  a {
    text-decoration: none;
    color: inherit;
  }

  #topBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 2.5vw;
    background-color: #654E6F;
    gap: 1vw;
  }

  .topbarText {
    font-family: "Inter Regular";
    color: white;
    font-size: 12px;
  }

  .topBarSegment {
    display: flex;
    align-items: center;
    gap: 0.5vw;
  }

  .topBarSegment:hover {
    text-decoration: underline;
    color: white;
    
  }

  #topBarWrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    padding-right: 8vw;
  }

  #cardanLogo {
    margin-top: 1vw;
    margin-left: 1vw;
    width: 120px;
    height: auto;
  }

  /* #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5vw;
    margin-top: 0.5vw;
  }  */

  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;   
    margin: 0 auto;
    padding: 0.5vw 2vw;
  }

  #navbarList {
    font-family: "Montserrat Medium";
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
    font-size: 14px;
    margin-top: 1vw;
    flex-grow: 1;
    justify-content: center;
    /* margin-left: 10vw; */
  }

  #themeWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1vw; 
  }

  #languageChoice {
    font-family: "Montserrat Medium";
    font-size: 14px; 
  }

  .arrowDown {
    width: 10px;   
    height: 10px;
    margin-left: 5px;
    vertical-align: middle;
  }

  .navbarListItem {
    display: flex;
    align-items: center;
    gap: 10px;
    /* padding: 0 0.5vw; */
  }

  .navbarListItem a:hover {
    text-decoration: underline;
    color: #654E6F;
  }

  hr {
    border: none;
    height: 1px;
    background-color: lightgray;
    margin: 0.5vw 0; 
  }

  #sunIcon {
    width: 16px;
    height: 16px;
  }

  #linkArrowIcon {
    width: 16px;
    height: 16px;
  }

  #cookieIcon {
    width: 16px;
    height: 16px;
  }
  
  